@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');


* {
    box-sizing: border-box;
}

* {
    /* font-family: 'Passions Conflict', cursive;  */
    font-family: 'Anton', sans-serif;

}
body {
    -ms-overflow-style: none;
}

::-webkit-scrollbar {
 display: none;
}

a {
    text-decoration: none;
    color: white;
}

.box{
  -ms-overflow-style: none;
}
.box::-webkit-scrollbar{
 display:none;
}

body, div , li, ul, p, h1, h2, h3, img, a{
    padding: 0;
    margin: 0;
}

li, ul {
    text-decoration: none;
    list-style: none;
}

.container {
    height: auto;
}


.backgroundColor {
    background-color: rgb(50,50,50);
}

.testArea {
    background-color: red;
}


#container-top {
    width: 100%;
    
}

/* header */

.header {
    justify-content: space-between;
}


#header-main {
    height: 80px;
    padding: 0 4%;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
}



#wrapper-headerline{
    width: 100%;
    height: 100%;
    border : 1px solid rgba(255, 255, 255, .3);
    border-top: none;
    border-bottom: none;
    display: flex;
    justify-content: space-between;
    font-size: 40px;
    color: white;
    padding-top: 16px;
}

#logo {
    margin-left: 16px;
}

.GNB {
    display: flex;
    
}

.GNB li {
    margin-right: 32px;
    cursor: pointer;
}

.GNB li:hover {
    color: grey;
}


@media screen and (max-width : 840px){
    #wrapper-headerline {
        font-size:  25px;
        padding-top: 0;
    }

    #logo {
        display: none;
    }

    .GNB li {
        margin-right: 0;
    }

    .GNB {
        align-items: center;
        justify-content: space-between;
        margin : 24px;
        width: 100%;
    }

}



/* body */

#wrapper-main-text {
    padding-top: 64px;
    width: 100%;
    margin-bottom: 32px;
}

.text {
    font-size : 60px;
    color: white;
    text-align: center;

}


    


#body-main {
    width: 100%;
    height: 100%;
}

#wrapper-body {
    width: 92%;
    height: 100%;
    margin : 4%;
    margin-top: 0;
    margin-bottom: 0;
    border: 1px solid rgba(255,255,255,.3);
    border-top: none;
    border-bottom: none;
}

#girl {
    position: absolute;
    top:0;
    right:32px;
    width: 33%;
    height: auto;
    

}

#textAndImg {
    margin-top: 64px;
    width: 100%;
    position: relative;
    display: flex;
    top:0;
    left: 0;

}

#text-middle {
    font-size : 60px;
    position: absolute;
    top: 64px;
    left: 96px;
}

.animated-title {
    overflow-x : hidden;
    overflow-y: hidden;
    position: relative;
    width: 100%;
    height: 64px;
}

.track {
    position: absolute;
    white-space: nowrap;
    font-size: 40px;
    color : grey;
    animation: marquee 20s linear infinite;
}


.contentBox {
    /* display: flex; */
    margin-top: 120px;
    margin-bottom: 120px;
}

.wrapper-infoText, .wrapper-infoImg {
    width: 100%;
}


.rightBox img {
    width: 100%;
    height: auto;
/*     
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px; */
}

.wrapper-infoText {
    padding : 32px;
    padding-bottom: 16px;
    padding-top: 0;
    
}


.wrapper-infoText p, .wrapper-infoText h1 {
    color: white;
    text-shadow: 4px 4px 2px #000000b9;
}

.wrapper-infoText h1{
    font-size: 64px;
}
.wrapper-infoText p {
    font-size : 32px;
}

#text-deadlift {
    text-align: end;
}

#text-squat {
    text-align: start;
}





@keyframes marquee {
    from { transform: translateX(0);}
    to { transform: translateX(-50%);}
}





@media screen and (max-width: 768px) {

    .text {
        font-size: 30px;
    }

    .track {
        font-size : 20px;
    }

    .wrapper-infoText h1{
        font-size: 24px;
    }
    .wrapper-infoText p {
        font-size : 12px;
    }
    .contentBox {
        margin-top: 12px;
        margin-bottom: 12px;
        width: 100%;
    }

    #wrapper-infoText, #wrapper-infoImg {
        width: 100%;
    }
}

/* footer */
#footer {
    background-color: rgb(220, 220, 220);
    width: 100%;
    height: 360px;
    padding: 4%;
    padding-top: 0;
}

#wrapper-footer {
    width: 100%;
    height: 100%;
    border: 1px solid rgb(50,50,50);
    border-top: none;
}

@media screen and (max-width : 768px){
    #footer {
        height: 180px;
    }
    
}


/* 화면이 클때 이미지가 너무 크게 보이는 문제가 있어서 화면 크기가 1280px 이상일 떄 패딩값 조정 */
@media screen and (min-width : 1280px){
    #header-main {
        padding: 0 8%
    }

    #wrapper-body {
        margin: 8%;
        margin-top: 0;
        margin-bottom: 0;
        width: 84%;
    }
    #footer {
        padding: 8%;
        padding-top: 0;
    }
    
}
